<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改送货清单')" />
<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-materialDeliveryList-edit"
			th:object="${materialDeliveryList}">
			<input id="deliveryListId" name="deliveryListId" th:field="*{deliveryListId}"
				type="hidden">
			<input id="parentId" name="parentId" type="hidden">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							style="color: red;">*</span>顾客姓名：</label>
						<div class="col-sm-8">
							<div class="input-group">
							<input name="customer" th:field="*{customer}"
								class="form-control" type="text" id="customer" required>
								<div class="input-group-btn">
								<button type="button" class="btn btn-white dropdown-toggle"
									data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
								</ul>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							style="color: red;">*</span>电话号码：</label>
						<div class="col-sm-8">
							<input name="phonenum" th:field="*{phonenum}"
								class="form-control" type="text" required readonly="readonly">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							style="color: red;">*</span>地址：</label>
						<div class="col-sm-8">
							<input name="address" th:field="*{address}" class="form-control" readonly="readonly" required
								type="text">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							style="color: red;">*</span>日期：</label>
						<div class="col-sm-8">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input name="deliveryDate"
									th:value="${#dates.format(materialDeliveryList.deliveryDate, 'yyyy-MM-dd')}"
									class="form-control" placeholder="yyyy-MM-dd" type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							style="color: red;">*</span>品牌：</label>
						<div class="col-sm-8">
							<input name="materialBrand" th:field="*{materialBrand}"
								class="form-control" type="text" required>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label"><span
							style="color: red;">*</span>库房：</label>
						<div class="col-sm-8">
							<div class="radio-box" th:each="dict : ${@dict.getType('storage_location')}">
		                        <input type="radio" th:id="${'storage_' + dict.dictCode}" name="storage" th:value="${dict.dictValue}" th:field="*{storage}" required>
		                        <label th:for="${'storage_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
		                    </div>
						</div>
					</div>
				</div>
			</div>
			<h4 class="form-header h4" style="margin-bottom: 0px;">主材</h4>
			<div class="row">
				<div class="btn-group-sm" id="toolbar1" role="group">
					<a class="btn btn-success" onclick="$.operate.add()"> <i
						class="fa fa-plus"></i> 添加
					</a> <a class="btn btn-primary single disabled"
						onclick="$.operate.edit()"> <i class="fa fa-edit"></i> 修改
					</a> <a class="btn btn-danger multiple disabled"
						onclick="$.operate.removeAll()"> <i class="fa fa-remove"></i>
						删除
					</a>
				</div>
				<div class="col-sm-12 select-table table-striped">
					<table id="bootstrap-table-1"></table>
				</div>
			</div>
			<h4 class="form-header h4" style="margin-bottom: 0px;">辅材</h4>
			<div class="row">
				<div class="btn-group-sm" id="toolbar2" role="group">
					<a class="btn btn-success" onclick="$.operate.add()"> <i
						class="fa fa-plus"></i> 添加
					</a> <a class="btn btn-primary single " onclick="$.operate.edit()">
						<i class="fa fa-edit"></i> 修改
					</a> <a class="btn btn-danger multiple" onclick="$.operate.removeAll()">
						<i class="fa fa-remove"></i> 删除
					</a>
				</div>
				<div class="col-sm-12 select-table table-striped">
					<table id="bootstrap-table-2"></table>
				</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">经办人：</label>
						<div class="col-sm-8">
							<input name="trustees" th:field="*{trustees}"
								class="form-control" type="text">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">日期：</label>
						<div class="col-sm-8">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input name="trusteesDate"
									th:value="${#dates.format(materialDeliveryList.trusteesDate, 'yyyy-MM-dd')}"
									class="form-control" placeholder="yyyy-MM-dd" type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-suggest-js" />
	<th:block th:include="include :: datetimepicker-js" />
	<script type="text/javascript">
		var prefix = ctx + "ims/materialDeliveryList";
		$("#form-materialDeliveryList-edit").validate({
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $(
						'#form-materialDeliveryList-edit').serialize());
			}
		}

		var prefixsub = ctx + "ims/materialMainList";
		var parentId = $("#deliveryListId").val();
		$("#parentId").val(parentId);
		var createUrl = prefixsub + "/add/" + parentId;

		var prefixsub2 = ctx + "ims/materialAuxiliaryList";
		var createUrl2 = prefixsub2 + "/add/" + parentId;
		$(function() {
			var options1 = {
				id : "bootstrap-table-1",
				url : prefixsub + "/list",
				toolbar : "toolbar1",
				createUrl : createUrl,
				updateUrl : prefixsub + "/edit/{id}",
				removeUrl : prefixsub + "/remove",
				modalName : "送货清单主材",
				columns : [ {
					checkbox : true
				}, {
					field : 'materialMainId',
					title : '主键',
					visible : false
				}, {
					field : 'materialName',
					title : '产品名称'
				},
				/* {
				    field : 'materialBrand', 
				    title : '品牌'
				},
				{
				    field : 'materialModel', 
				    title : '型号'
				}, */
				{
					field : 'materialNorms',
					title : '规格'
				},
				/* {
				    field : 'materialLargeClass', 
				    title : '产品大类'
				},
				{
				    field : 'materialSubClass', 
				    title : '产品小类'
				}, */
				{
					field : 'materialUnit',
					title : '单位'
				}, {
					field : 'materialNum',
					title : '数量'
				} ]
			};
			$.table.init(options1);

			var options = {
				id : "bootstrap-table-2",
				toolbar : "toolbar2",
				url : prefixsub2 + "/list",
				createUrl : createUrl2,
				updateUrl : prefixsub2 + "/edit/{id}",
				removeUrl : prefixsub2 + "/remove",
				modalName : "送货清单辅材",
				columns : [
						{
							checkbox : true
						},
						{
							field : 'materialAuxiliaryId',
							title : '主键',
							visible : false
						},
						{
							field : 'materialName',
							title : '产品名称'
						},
						{
							field : 'materialNorms',
							title : '规格'
						},
						{
							field : 'materialUnit',
							title : '单位'
						},
						{
							field : 'materialNum',
							title : '数量'
						} ]
			};
			$.table.init(options);
		});
		
		$("input[name='deliveryDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='trusteesDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='storageOutDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
		$("#customer").bsSuggest({
	        url: ctx + "selectCustomerInfoList",
	        idField: "customerInfoId",
	        keyField: "customerName",
	        effectiveFields:['customerName','customerPhone','customerAddress'],
	        effectiveFieldsAlias:{'customerName': '顾客名称','customerPhone': '电话','customerAddress': '地址'},
	    }).on('onDataRequestSuccess', function (e, result) {
	        console.log('onDataRequestSuccess: ', result);
	    }).on('onSetSelectValue', function (e, selectedData, selectedRawData) {
	        console.log('onSetSelectValue: ', e.target.value, selectedData, selectedRawData.materialBrand);
	        $("input[name='customer']").val(selectedRawData.customerName);
	        $("input[name='phonenum']").val(selectedRawData.customerPhone);
	        $("input[name='address']").val(selectedRawData.customerAddress);
	    }).on('onUnsetSelectValue', function (e) {
	        console.log("onUnsetSelectValue");
	    });
	</script>
</body>
</html>