<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单信息子列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>产品名称：</p>
                                <input type="text" name="materialName"/>
                            </li>
                            <li>
                                <p>品牌：</p>
                                <input type="text" name="materialBrand"/>
                            </li>
                            <li>
                                <p>型号：</p>
                                <input type="text" name="materialModel"/>
                            </li>
                            <li>
                                <p>规格：</p>
                                <input type="text" name="materialNorms"/>
                            </li>
                            <li>
                                <p>产品大类：</p>
                                <input type="text" name="materialLargeClass"/>
                            </li>
                            <li>
                                <p>产品小类：</p>
                                <input type="text" name="materialSubClass"/>
                            </li>
                            <li>
                                <p>单位：</p>
                                <input type="text" name="materialUnit"/>
                            </li>
                            <li>
                                <p>数量：</p>
                                <input type="text" name="materialNum"/>
                            </li>
                            <li>
                                <p>单价：</p>
                                <input type="text" name="unitPrice"/>
                            </li>
                            <li>
                                <p>总价：</p>
                                <input type="text" name="totalPrice"/>
                            </li>
                            <li>
                                <p>已预付：</p>
                                <input type="text" name="prepaid"/>
                            </li>
                            <li>
                                <p>应付尾款：</p>
                                <input type="text" name="payable"/>
                            </li>
                            <li>
                                <p>父表ID：</p>
                                <input type="text" name="parentId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ims:orderManagementSub:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="ims:orderManagementSub:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="ims:orderManagementSub:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="ims:orderManagementSub:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ims:orderManagementSub:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ims:orderManagementSub:remove')}]];
        var prefix = ctx + "ims/orderManagementSub";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单信息子",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'orderManagementSubId', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'materialName', 
                    title : '产品名称'
                },
                {
                    field : 'materialBrand', 
                    title : '品牌'
                },
                {
                    field : 'materialModel', 
                    title : '型号'
                },
                {
                    field : 'materialNorms', 
                    title : '规格'
                },
                {
                    field : 'materialLargeClass', 
                    title : '产品大类'
                },
                {
                    field : 'materialSubClass', 
                    title : '产品小类'
                },
                {
                    field : 'materialUnit', 
                    title : '单位'
                },
                {
                    field : 'materialNum', 
                    title : '数量'
                },
                {
                    field : 'unitPrice', 
                    title : '单价'
                },
                {
                    field : 'totalPrice', 
                    title : '总价'
                },
                {
                    field : 'prepaid', 
                    title : '已预付'
                },
                {
                    field : 'payable', 
                    title : '应付尾款'
                },
                {
                    field : 'parentId', 
                    title : '父表ID'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.orderManagementSubId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.orderManagementSubId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>