<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('售后服务记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>客户姓名：</p>
                                <input type="text" name="customer"/>
                            </li>
                            <!-- <li>
                                <p>地址：</p>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <p>服务内容：</p>
                                <input type="text" name="serviceContext"/>
                            </li> -->
                            <li>
                                <p>负责人：</p>
                                <input type="text" name="hand"/>
                            </li>
                            <li class="select-time">
                                <p>服务日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginServiceDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endServiceDate]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ims:afterSales:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="ims:afterSales:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="ims:afterSales:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="ims:afterSales:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ims:afterSales:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ims:afterSales:remove')}]];
        var detailFlag = [[${@permission.hasPermi('ims:afterSales:detail')}]];
        var prefix = ctx + "ims/afterSales";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                detailUrl: prefix + "/detail/{id}",
                modalName: "售后服务记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'afterSalesServiceId', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'customer', 
                    title : '客户姓名'
                },
                {
                    field : 'address', 
                    title : '地址'
                },
                {
                    field : 'serviceContext', 
                    title : '售后服务内容',
                    width : '400px'
                },
                {
                    field : 'scenePhotos', 
                    title : '现场照片',
                    width : '200',
                    formatter: function(value, row, index) {
				    	return $.table.imageView(value,"400px","400px");
				    }
                },
                {
                    field : 'hand', 
                    title : '负责人'
                },
                {
                    field : 'serviceDate', 
                    title : '售后服务日期',
                    formatter: function (value, row, index) {  
                    	if(value!=null)
                        	return value.substr(0,10);
                    	else
                        	return value;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.afterSalesServiceId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.afterSalesServiceId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.afterSalesServiceId + '\')"><i class="fa fa-search"></i>详细</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>