<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('主页')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
    	<div class="row">
    		<div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>通知通告</h5>
                    </div>
                    <div class="col-sm-12 select-table table-striped" style="height: 260px;margin-top: 4px;margin-bottom: 18px;" >
				            <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>公司新闻动态</h5>
                    </div>
                    <div class="col-sm-12 select-table table-striped" style="height: 260px;margin-top: 4px;margin-bottom: 18px;">
                        <table id="bootstrap-table1"></table>
                    </div>
                </div>
            </div>
    	</div>
    	<div class="row">
    		<div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>最新签单喜报</h5>
                    </div>
                    <div class="col-sm-12 select-table table-striped" style="height: 260px;margin-top: 4px;margin-bottom: 18px;">
                        <table id="bootstrap-table2"></table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>资料文件共享</h5>
                    </div>
                    <div class="col-sm-12 select-table table-striped" style="height: 260px;margin-top: 4px;margin-bottom: 18px;">
                        <table id="bootstrap-table3"></table>
                    </div>
                </div>
            </div>
    	</div>
        <!-- <div class="row">
        	<div class="col-sm-3">
            	<button class="btn btn-primary dim btn-large-dim" type="button" style="width: 100%" onclick="$.modal.openFull('材料入库', '/ims/materialPutStorage/add')">入库
                </button>
            </div>
            <div class="col-sm-3">
            	<button class="btn btn-info  dim btn-large-dim btn-outline" type="button" style="width: 100%" onclick="$.modal.openFull('送货清单录入', '/ims/materialDeliveryList/add')">送货
                </button>
            </div>
            <div class="col-sm-3">
            	<button class="btn btn-primary dim btn-large-dim" type="button" style="width: 100%" onclick="$.modal.openFull('安装记录录入', '/ims/materialInstallInfo/add')">安装
                </button>
            </div>
            <div class="col-sm-3">
            	<button class="btn btn-info  dim btn-large-dim btn-outline" type="button" style="width: 100%" onclick="$.modal.openFull('售后服务录入', '/ims/afterSales/add')">服务
                </button>
            </div>
        </div> -->
    </div>
    <th:block th:include="include :: footer" />
    <!-- <th:block th:include="include :: echarts-js" /> -->
    <script type="text/javascript">
	    
	    $(function() {
	    	var prefix = ctx + "system/notice";
            var options = {
                url: prefix + "/listhome",
                id:"bootstrap-table",
                detailUrl: prefix + "/detail/{id}",
                striped:true,
                pagination:false,
                showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                modalName: "公告",
                columns: [
               	{
               		title: "序号",
               		width:"40px",
               		align:"center",
               		formatter: function (value, row, index) {
               			return $.table.serialNumber(index);
               		}
               	},
				{
					field : 'noticeTitle', 
					title : '公告标题',
					width:"240px",
					formatter: function(value, row, index) {
		            	var actions = [];
		            	var length = value.length
		            	if(length>=15){
		            		value = value.substr(0,15)+"...";
		            	}
		            	actions.push('<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.noticeId + '\')">'+value+'</a> ');
						return actions.join('');
		            }
				},
				{
					field : 'createBy',
					width:"60px",
					title : '创建者' 
				},
				{
		            field: 'createTime',
		            width:"120px",
		            title: '创建时间',
		            formatter: function (value, row, index) {  
                    	if(value!=null)
                        	return value.substr(0,10);
                    	else
                        	return value;
                    }
		        }]
            };
            $.table.init(options);
        });
	    
	    var prefix1 = ctx + "ims/home";
	    
	    var options1 = {
                url: prefix1 + "/listhome/公司新闻动态",
                id:"bootstrap-table1",
                detailUrl: prefix1 + "/detail/{id}",
                pagination:false,
                showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        striped:true,
		        showColumns: false,
                modalName: "主页展示",
                pageSize:5,
                columns: [
                {
                    field : 'imsHomeId', 
                    title : '主键',
                    visible: false
                },
                {
               		title: "序号",
               		width:"40px",
               		align:"center",
               		formatter: function (value, row, index) {
               			return $.table.serialNumber(index);
               		}
               	},
                {
                    field : 'imsHomeTitle', 
                    title : '标题',
                    formatter: function(value, row, index) {
		            	var actions = [];
		            	var length = value.length
		            	if(length>=20){
		            		value = value.substr(0,20)+"...";
		            	}
		            	actions.push('<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.imsHomeId + '\')">'+value+'</a> ');
						return actions.join('');
		            }
                }
                ]
            };
            $.table.init(options1);
            
            var options2 = {
                    url: prefix1 + "/listhome/最新签单喜报",
                    id:"bootstrap-table2",
                    detailUrl: prefix1 + "/detail/{id}",
                    pagination:false,
                    striped:true,
                    showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                    modalName: "主页展示",
                    pageSize:5,
                    columns: [ 
                    {
                        field : 'imsHomeId', 
                        title : '主键',
                        visible: false
                    },
                    {
                   		title: "序号",
                   		width:"40px",
                   		align:"center",
                   		formatter: function (value, row, index) {
                   			return $.table.serialNumber(index);
                   		}
                   	},
                    {
                        field : 'imsHomeTitle', 
                        title : '标题',
                        formatter: function(value, row, index) {
    		            	var actions = [];
    		            	var length = value.length
    		            	if(length>=20){
    		            		value = value.substr(0,20)+"...";
    		            	}
    		            	actions.push('<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.imsHomeId + '\')">'+value+'</a> ');
    						return actions.join('');
    		            }
                    }
                    ]
                };
                $.table.init(options2);
                
                var options3 = {
                        url: prefix1 + "/listhome/资料文件共享",
                        id:"bootstrap-table3",
                        detailUrl: prefix1 + "/detail/{id}",
                        pagination:false,
                        showSearch: false,
                        striped:true,
        		        showRefresh: false,
        		        showToggle: false,
        		        showColumns: false,
                        modalName: "主页展示",
                        pageSize:5,
                        columns: [ 
                        {
                            field : 'imsHomeId', 
                            title : '主键',
                            visible: false
                        },
                        {
                       		title: "序号",
                       		width:"40px",
                       		align:"center",
                       		formatter: function (value, row, index) {
                       			return $.table.serialNumber(index);
                       		}
                       	},
                        {
                            field : 'imsHomeTitle', 
                            title : '标题',
                            formatter: function(value, row, index) {
        		            	var actions = [];
        		            	var length = value.length
        		            	if(length>=20){
        		            		value = value.substr(0,20)+"...";
        		            	}
        		            	actions.push('<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.imsHomeId + '\')">'+value+'</a> ');
        						return actions.join('');
        		            }
                        }]
                    };
                    $.table.init(options3);
    </script>
</body>
</html>